# Минимальная версия для быстрого старта
image: ubuntu:22.04

stages:
  - build
  - test

variables:
  CC: gcc

before_script:
  - apt-get update
  - apt-get install -y cmake gcc

build:
  stage: build
  script:
    - mkdir build && cd build
    - cmake ..
    - cmake --build .
  artifacts:
    paths:
      - build/

test:
  stage: test
  script:
    - cd build
    - ./stack_test
